body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #009ffd, #2a2a72);
    color: white;
}
header {
    background-color: #0081a7;
    color: white;
    padding: 1rem;
    text-align: center;
}
main {
    padding: 1rem;
}
#user-posts, #user-comments {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
button {
    background-color: #f07167;
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #d05c55;
}
